@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Roboto+Mono:wght@400;700&family=Ubuntu+Mono:wght@400;700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hover-btn {
        @apply hover:underline hover:cursor-pointer;
    }

    @media(hover: hover){
        /* idea to study */
    }
}




.container {
    max-width: 85%;
}

@media screen AND (max-width: 1024px) {
    .container {
        max-width: 95%;
    }
}

@media screen AND (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}


.container:not(:last-child) {
    border: 1px solid transparent;
    border-color: transparent transparent #2f2f2f transparent;
    padding-bottom: 10px;
}